* { margin:0;}
body{ background:#0A0A0A top left repeat-x;}
html, input, textarea{font-family:Georgia, Arial, Verdana; font-size:11px; color:#9A9A9A;}

input, select { vertical-align:middle; font-weight:normal;}
img {border:0; vertical-align:top; text-align:left;}
ul { list-style:none;}

a:hover{text-decoration:none;}
a {color:#E61500;}

span{ color:#E61500;}

.column { float:left;}
.clear { clear:both;}

ul { margin:0; padding:0; list-style:none;}
li a {line-height:17px; color:#E61500; text-decoration:underline;}
li a:hover { text-decoration:none; color:#E61500;}

/*header*/
#header .col_1{width:324px;}
#header .col_1 img{ margin-top:22px}
#header .col_2{width:442px; padding-top:59px;}
#header .col_2 img{ display:block; margin-left:37px;}

/*footer*/
#footer{ color:#3B3B3B; text-align:center; padding:20px 0 26px 0; width:766px;}
#footer a{ color:#3B3B3B; text-decoration:none}
#footer a:hover{ color:#FFFFFF; text-decoration:none}

/*content*/
.content_heit{ height:435px; width:31px; float:left}
.title, .title1{ display:block;}
.title{ display:block; margin-top:2px;}
#wrapper{ background:#1B1B1B; width:100%; line-height:16px;}
#wrapper .col_left, .col_right{ float:none;}
#wrapper .col_1 , #wrapper .col_2{ padding-bottom:6px;} 

/*================== index.html ==================*/
#page1 b{ color:#E61500; font-size:15px;}
#page1 #wrapper .col_1 .box_top{ }
#page1 #wrapper .col_1 .box_top img{ margin-right:18px; float:left;}
#page1 #wrapper .col_1 .title{ margin-bottom:13px;}
#page1 #wrapper .col_1 .title1{ margin:29px 0 19px 0;}
#page1 #wrapper .col_1 .box_col img{ margin:0 11px 9px 0; float:left}
#page1 #wrapper .col_1 .col_left{width:228px;}
#page1 #wrapper .col_1 .col_right{ width:580px;}
#page1 #wrapper .col_2 .title{ margin-bottom:13px;}
#page1 #wrapper .col_2 .indent_text{ }
#page1 #wrapper .col_2 .indent_img{ padding:0 5px 0 0;}
#page1 #wrapper .col_2 .indent_img img{ margin:0 11px 6px 0; float:left;}

/*================== index-1.html ==================*/
#page2 b{ color:#E61500; font-size:15px;}
#page2 #wrapper .col_1 .box_top{ padding:0 28px 11px 0;}
#page2 #wrapper .col_1 .title{ margin-bottom:13px;}
#page2 #wrapper .col_1 .title1{ margin:11px 0 7px 0;}
#page2 #wrapper .col_1 span{ display:block; margin-left:2px;}
#page2 #wrapper .col_1 .indent_img{margin:0 19px 21px 0; float:left}
#page2 #wrapper .col_2 .title{ margin-bottom:6px;}
#page2 #wrapper .col_2 .indent_img{ margin-bottom:16px;}
#page2 #wrapper .col_2 p{ margin:2px 0 15px 0;}

/*================== index-2.html ==================*/
#page3 #wrapper .col_1 .col_left .title{ margin-bottom:7px;}
#page3 #wrapper .col_1 .col_left{ width:350px; float:left}
#page3 #wrapper .col_1 .col_right{ width:300px; float:left}
#page3 #wrapper .col_1 .col_right .title{ margin-bottom:14px;}
#page3 #wrapper .col_1 .col_right ul{ margin-top:16px;}
#page3 #wrapper .col_1 .separate{ width:25px; float:left;}
#page3 #wrapper .col_1 .col_left .indent_img{margin:0 18px 20px 0; float:left}
#page3 #wrapper .col_1 .title1{ margin:2px 0 6px 0;}
#page3 #wrapper .col_1 .col_lefta{ width:153px;}
#page3 #wrapper .col_1 .col_righta{ width:510px;}
#page3 #wrapper .col_1 .col_leftb{ width:269px;}
#page3 #wrapper .col_1 .col_rightb{ width:198px;}
#page3 #wrapper b{ color:#E61500; font-size:12px;}

/*================== index-3.html ==================*/
#page4 #wrapper .col_1 .box_top{ padding:0 28px 11px 0;}
#page4 #wrapper .col_1 .title{ margin-bottom:7px;}
#page4 #wrapper .col_1 .title1{ margin:33px 0 7px 0;}
#page4 #wrapper .col_1 p{ margin:2px 0 15px 0;}
#page4 #wrapper .col_1 .col_left{ width:170px;}
#page4 #wrapper .col_1 .col_right{ width:125px;}
#page4 #wrapper .col_1 ul{ margin-top:16px;}
#page4 #wrapper .col_2 .title{ margin-bottom:14px;}
#page4 #wrapper .col_2 .title1{ margin-bottom:6px;}
#page4 #wrapper .col_2 ul{ margin:18px 0 36px 0;}
#page4 #wrapper .col_2 p{ margin:14px 0 14px 0;}

/*================== index-4.html ==================*/
#page5 #wrapper .col_1 .box_top{ padding:0 28px 11px 0;}
#page5 #wrapper .col_1 .title{ margin-bottom:7px;}
#page5 #wrapper .col_1 .indent_list{ padding:21px 0 21px 0;}
#page5 #wrapper .col_1 p{ margin:17px 0 15px 0;}
#page5 #wrapper .col_2 .title{ margin-bottom:11px;}
#page5 #wrapper .col_2 ul{ margin:11px 0 25px 0;}
#page5 #wrapper .col_2 p{ margin:2px 0 15px 0}
#page5 #wrapper b{ color:#E61500; font-size:12px;}

/*================== index-5.html ==================*/
#page6 #wrapper .col_1 .box_top{ padding:0 28px 11px 0;}
#page6 #wrapper .col_1 .title{ margin-bottom:10px;}
#page6 #wrapper .col_1 p{ padding:15px 0 11px 0;}
#page6 #wrapper .col_2 .title{ margin-bottom:11px;}
#page6 #wrapper .col_2 .col_left{ width:104px;}
#page6 #wrapper .col_2 .col_right{ width:197px;}
#page6 #wrapper .col_2 form{ margin:25px 0 0 0;}
#page6 #wrapper .col_2 .indent_form{width:304px;}
#page6 #wrapper .col_2 .indent_form{ height:30px;}
#page6 #wrapper .col_2 input{ width:194px; height:18px;}
#page6 #wrapper .col_2 textarea{ width:194px; height:185px; overflow:auto; display:block; margin-bottom:4px;}
#page6 #wrapper .col_2 textarea, input{color:#000000; font-family:Tahoma; font-size:11px; padding:1px 0 1px 0;}
#page6 #wrapper b{ color:#E61500; font-size:12px;}

/*================== index-6.html ==================*/
#page7 #wrapper .col_1 .box_top{ padding:0 28px 11px 0;}
#page7 #wrapper .col_1 .title{ margin-bottom:5px;}
#page7 #wrapper .col_1 .title1{ margin:33px 0 11px 0;}
#page7 #wrapper .col_1 p{ padding:3px 0 11px 0;}
#page7 #wrapper .col_2 .title{ margin-bottom:11px;}
#page7 #wrapper .col_2 .col_left{ width:104px;}
#page7 #wrapper .col_2 .col_right{ width:197px;}
#page7 #wrapper .col_2 form{ margin:21px 0 0 0;}
#page7 #wrapper .col_2 .indent_form{width:304px;}
#page7 #wrapper .col_2 .indent_form{ height:30px;}
#page7 #wrapper .col_2 input{ width:194px; height:18px;}
#page7 #wrapper .col_2 textarea{ width:194px; height:185px; overflow:auto; display:block; margin-bottom:4px;}
#page7 #wrapper .col_2 textarea, input{ color:#000000; font-family:Tahoma; font-size:11px; padding:1px 0 1px 0;}
#page7 #wrapper b{ color:#E61500; font-size:12px;}
#page7 #wrapper b{ color:#E61500; font-size:12px;}

/*================== index-7.html ==================*/
#page8 #wrapper .col_1 .title{ margin-bottom:7px;}
#page8 #wrapper b{ color:#E61500; font-size:12px;}
#page8 #wrapper .col_1 div{ padding-bottom:16px;}