<p>$DATE</p>

<p>Dear $USER,</p>
<br>
<p>Thank you for contacting us. Here is your new temporary password.</p>
<br>
<p><strong>If you did not request this password reset, PLEASE CONTACT CUSTOMER SERVICE IMMEDIATELY.</strong></p>
<br>
<p>Your Username is: <strong>$USERNAME</strong></p>
<p>Your Password is: <strong>$PASSWORD</strong></p>
<br>
<p>Once you log on, you will be required to change your password for security reasons.</p>

<p>We invite you to read our Frequently Asked Questions (FAQ) section on our website.</p>

<p>Once again, we thank you for using our service.</p>

<p>Assuring you of our best services and support at all times.</p>
<br>
<p>Support Team</p>
<br>
<p>ps: This message has been sent by an auto responder system. Please do not reply to this message.</p>